/* styles.css */

#splashScreen{
    display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index:1001;
}
#endTurn{
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #4282cc;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}
#endTurn:hover {
  background: #fc3c66;
  background-image: -webkit-linear-gradient(top, #fc3c66, #944040);
  background-image: -moz-linear-gradient(top, #fc3c66, #944040);
  background-image: -ms-linear-gradient(top, #fc3c66, #944040);
  background-image: -o-linear-gradient(top, #fc3c66, #944040);
  background-image: linear-gradient(to bottom, #fc3c66, #944040);
  text-decoration: none;
}

#rollDiceButton{
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #0f2033;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}
#rollDiceButton:hover{
  background: #adadad;
  background-image: -webkit-linear-gradient(top, #adadad, #5b615b);
  background-image: -moz-linear-gradient(top, #adadad, #5b615b);
  background-image: -ms-linear-gradient(top, #adadad, #5b615b);
  background-image: -o-linear-gradient(top, #adadad, #5b615b);
  background-image: linear-gradient(to bottom, #adadad, #5b615b);
  text-decoration: none;
  }
#guessButton{
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #8a7666;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}
#guessButton:hover {
  background: #b1f511;
  text-decoration: none;
}

#accuseButton{
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  background: #5a7666;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
}

#accuseButton:hover {
  background: #f1f511;
  text-decoration: none;
}
#splashScreen-content{ 
	position: absolute;
	display: none;
	width: 400px;
	height: 525px;
	padding: 16px;
	text-align:Center;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
}
#StartGame{
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  background: #34d986;
  padding: 12px 30px 12px 30px;
  text-decoration: none;
}
}

h3{
font-family: Arial;
font-style: bold;
font-size:40px;
}

h4{
font-family: Serif;
font-size: 40px;
text-align: left;
}

ul {
  border: 2px solid red;
  width: 100px;
  min-height: 100px;
}

body {
    background: url('../images/background.jpg') center center no-repeat;
}

#selection {
    position: absolute;
    right: 0px;
    width: 225px;
    padding-top: 150px;
    padding-right: 150px;
}

#result{
    width: auto;
}

#guessBtn {
    height: 25px;
	width: 43px;
	align: center;
	
	
}

.row {
	width: 775px;
}

#playerPanel {
	border: 1px solid #000;
    float: right;
    height: 350px;
    margin: 5px;
    padding-top: 0;
    width: 15%;
}

#playGameBtn {
	float: right;
}
body {
    background: #eee;
}


/*TODO: make all characters this size */
#profPlum, #colMustard, #missScarlet,
#mrGreen, #mrsPeacock, #mrsWhite {
	
	height: 75px;
	width: 55px;
    position: absolute;
    z-index: 99;
}


.container {
    position: relative;
    width: 1400px;
    margin: 40px auto;
    background-color: #73AD21;
    padding: 20px 90px 315px 20px;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

.container:after {
    display: table;
    content: "";
    clear: both;
}

.hallway {
	height: 150px;
    width: 150px;
	color: #8B4513;
    position: relative;
    background: #000;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
	background-image: url();
}

.fixedContainer {
    /* fixed height container
       with overflow for scrollbar
    */
    height: 800px;
	width: 1150px;
	margin-left: 50px; 
    overflow: auto;

}

#study, #lounge, #library, #billiard, #dining,
#conservatory, #ballroom, #kitchen, .room {
    height: 150px;
    width: 150px;
    background: #000;
    color: white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
	background-image: url();
	
}
#hall{
    height: 150px;
    width: 150px;
    background: #000;
    color: white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
	background-image: url();
}
.box {
    height: 120px;
    width: 120px;
    background: #000;
    color: white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

#box1 { background: #38c; }
//#hallway { background: #9d9;
//	height: 75px;
//	color: #8B4513;
//}
#h { background: #9d9; }
#box3 { background: #c27; }

#droppable {
    background: #222;
    border: solid 2px #000;
    height: 300px;
    width: 400px;
    line-height: 300px;
    text-align: center;
    color: white;
    margin: 40px auto;
}